.select {
  position: relative;
  width: 140px;
}
.select.is-active .select__body {
  display: block;
}

.select__header {
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  transition: $transition;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.select__current {
  font-size: 18px;
  line-height: 24px;
  padding: 8px;
}
.select__icon {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
  height: 40px;
  width: 53px;
}

.select__body {
  border: 1px solid #cccccc;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
  z-index: 3;
}

.select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  &:not(:first-child) {
    display: flex;
    align-items: center;
  }
}

.select__item:hover {
  background-color: #f2f2f2;
}

.flag {
  width: 24px;
  height: 24px;
}

.select__item__text {
  margin-right: auto;
}
