<div class="modal" id="modal">
  <div class="wrapper">
    <div class="select">
      <div class="select__header">
        <span class="select__current">Русский</span>
        <div class="select__icon">&#9662;</div>
      </div>
      <div class="select__body">
        <div class="select__item" hidden>Русский</div>
        <div class="select__item">
          <span class="select__item__text">Русский</span>
          <img src="./images/flag/rus_flag.png" class="flag" alt="rusflag" />
        </div>
        <div class="select__item">
          <span class="select__item__text">English</span>
          <img src="./images/flag/eng_flag.png" class="flag" alt="engflag" />
        </div>
        <div class="select__item">
          <span class="select__item__text">Deutsch</span>
          <img src="./images/flag/deu_flag.png" class="flag" alt="deuflag" />
        </div>
        <div class="select__item">
          <span class="select__item__text">Español</span>
          <img src="./images/flag/esp_flag.png" class="flag" alt="espflag" />
        </div>
        <div class="select__item">
          <span class="select__item__text">Italiano</span>
          <img src="./images/flag/ita_flag.png" class="flag" alt="itaflag" />
        </div>
        <div class="select__item">
          <span class="select__item__text">Français</span>
          <img src="./images/flag/fra_flag.png" class="flag" alt="fraflag" />
        </div>
        <div class="select__item">
          <span class="select__item__text">Український</span>
          <img src="./images/flag/ukr_flag.png" class="flag" alt="ukrflag" />
        </div>
      </div>
    </div>
    <button class="button button__exit" type="button">
      <svg
        class="logo_hover"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.707 16.293a1 1 0 0 1-1.414 1.414L12 13.414l-4.293 4.293a1 1 0 0 1-1.414-1.414L10.586 12 6.293 7.707a1 1 0 0 1 1.414-1.414L12 10.586l4.293-4.293a1 1 0 1 1 1.414 1.414L13.414 12l4.293 4.293z"
        ></path>
      </svg>
    </button>
  </div>
  <div class="wrapper_button">
    <button class="button button__panorama" id="button__panorama" type="button">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        class="picture__logo"
      >
        <path
          d="M12 6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm4.21 14.16c3.53-.61 6.79-1.174 6.79-4.146V7a3 3 0 0 0-2.999-3H15.5l.008.143-.01-.001a3.487 3.487 0 0 1-.914 2.22l.549.182A2 2 0 0 1 16.5 8.441v5.492l.423.073c2.13.37 4.077.708 4.077 2.008 0 1.327-1.993 1.655-4.328 2.04l-.853.143a1 1 0 1 0 .341 1.971l.05-.009zM1 16V7a3 3 0 0 1 3-3h4.5l-.008.143.01-.001c.012.286.058.564.134.828-.66.318-1.136.99-1.136 1.805v7.157l-.488.084C4.907 14.376 3 14.702 3 16c0 1.355 2.146 1.701 4.533 2.087l.775.126.13-1.524a.217.217 0 0 1 .027-.084.196.196 0 0 1 .275-.077l4.66 3.019a.214.214 0 0 1-.022.375L8.28 21.983a.194.194 0 0 1-.099.016.208.208 0 0 1-.18-.23l.134-1.554C4.439 19.635 1 19 1 16zm9.316-9.561A1 1 0 0 0 9 7.387v2.406a.5.5 0 0 0 .146.353l.708.708a.5.5 0 0 1 .146.353v3.984a.5.5 0 0 0 .276.447l.924.462.665-2.992c.024-.11.186-.101.197.012l.36 3.59 1.144.573a.3.3 0 0 0 .434-.268v-4.206a.5.5 0 0 1 .276-.447l.448-.224a.5.5 0 0 0 .276-.447v-2.61a1.5 1.5 0 0 0-1.026-1.423l-3.658-1.22z"
        ></path>
      </svg>
      <p class="picture__text">Панорама</p>
    </button>
  </div>

  <button type="button" class="button__play button__play_close">
    <svg version="1.1" viewBox="0 0 36 36" class="button__play_logo">
      <path d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z"></path>
    </svg>
  </button>

  <button type="button" class="button__buy button__play">
    <soan class="button__buy__text">Купить</soan>
  </button>

  <button type="button" class="button__play button__pause">
    <svg version="1.1" viewBox="0 0 36 36" class="button__play_logo">
      <path d="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z"></path>
    </svg>
  </button>
  <div class="content"></div>
</div>
